body,
html,
*   {
    padding: 0;
    margin: 2rem;
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: grey;
}
@keyframes SlideInRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.gallery{
    font-size: 70px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    background-color:grey;
}
.gallerycard{
    text-align: center;
    border: 3px solid black;
    width: 20%;
    background-color: grey;
    box-shadow: 1rem 1rem 1rem black;
    transition-timing-function: ease-in-out;
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.galleryheader{
    background-color: grey;
}
.desc{
    background-color: grey;
}
.image{
    width: 50%;
    height: 40%;
}
.title{
    text-align: center;
    font-size: 50px;
    animation: 1s ease-out 0s 1 SlideInRight;
}
.gallerycard:hover{
    transform: scale(1.1);

}