body,
html,
*   {
    padding: 0;
    margin: 2rem;
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: grey;
}
.gallery{
    font-size: 70px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    background-color:grey;
}
.gallerycard{
    text-align: center;
    border: 3px solid black;
    width: 20%;
    background-color: grey;
    box-shadow: 1rem 1rem 1rem black;
    
}
.galleryheader{
    background-color: grey;
}
.desc{
    background-color: grey;
}
.image{
    width: 50%;
    height: 40%;
}
.title{
    text-align: center;
    font-size: 50px;
}